# Ignore python cache and virtual environments
__pycache__/
venv/
env/

# Ignore everything in raw and clean folders
data/raw/
data/clean/

# Optional: Ensure featured parquet files are tracked
!data/featured/*.parquet

# Ignore jupyter notebook backups
.ipynb_checkpoints/
